* {
    margin:0px;
}
body {
    margin:0px;
    padding:0px;
    font-family:"arial bold",sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color:#222;
    color:white;
    overflow:hidden;
}
#main {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
}

/* TOP section */
#top {
    background-color:rgba(0,0,100,0.5);
    padding:5px 0px;
    width:990px;
    height:40px;
    position:absolute;
    left:10px;
    top:10px;
    overflow:hidden;
    padding:0px;
    margin:0px;
}
.resourcenumber {
    margin:0px 40px;
    float:left;
    font-size:25px;
}
.resourcenumber img {
    height:32px;
    vertical-align:text-bottom;
}
.resourcenumber span {
    margin-left:10px;
}
#food {
    margin-left:100px;
}
#left {
    width:200px;
    position:absolute;
    left:10px;
    top:39px;
    overflow:hidden;
    padding:0px;
    margin:0px;
}
#lefttop {
    height:225px;
}
#shipvitals {
    margin-top:20px;
}
.vital {
    margin-top:10px;
}
.baroutside {
    border:2.5px solid green;
    height:20px;
    width:90%;
    margin:0px auto;
}
.barinside {
    height:100%;
    width:95%;
    background-color:green;
}
.barcaption {
    font-size:x-small;
    font-style:italic;
    margin-top:5px;
    margin-left:10px;
    padding-right:13px
}
.barcaption .value {
    float:right;
}
#healthbaroutside {
    border-width:3px;
    height:25px;
}
#healthbarcaption {
    font-size:small;
}
#jumpbaroutside {
    border-color:blue;
}
#jumpbar {
    background-color:blue;
}
#laserbaroutside {
    border-color:red;
}
#laserbar {
    background-color:red;
}


/* MIDDLE section */
#middle {
    width:601px;
    background-color:#FFF;
    position:absolute;
    left:210px;
    top:39px;
    background-color:lightblue;
    overflow:hidden;
    opacity: 0.8;
    padding:0px;
    margin:0px;
}

/* RIGHT section */
#right {
    width:200px;
    height:400px;
    background-color:rgba(0,0,0,0);
    position:absolute;
    left:810px;
    top:39px;
    overflow:hidden;
    padding:0px;
    margin:0px;
}
#righttop {
    height:375px;
    overflow:auto;
}
#chatcontainer {
    background-color:rgba(0,0,100,0.5);
    width:99%;
    padding-left:5px;
    font-family:"arial",sans-serif;
    position:absolute;
    bottom:40px;
    height:30%;
}
#chatmessages {
    height:90%;
    overflow-y:auto;
}
.chatmessage {
    margin:10px 0px;
    font-size:small;
}
.chatmessage span {
    font-size:x-small;
    font-style:italic;
}
.chatmessage div {
    font-size:medium;
}
#chatwrite {
    width:100%;
    margin-top:5px;
}
#chatcompose {
    width:80%;
}

/* BOTTOM section */
#bottom {
    background-color:rgba(0,0,100,0.5);
    clear:both;
    padding:0px;
    width:990px;
    background-color:rgba(0.0, 50.0, 0.0, 0.0);
    position:absolute;
    left:10px;
    bottom:0px;
    overflow:hidden;
    height:40px;
	z-index:1002;
}
.control {
    margin:0px 10px;
    float:left;
    border:thin solid white;
    border-radius:5px;
	margin-top:3px;
    padding:7px;
	cursor:pointer;
}
.control span {
    border:thin solid cyan;
    border-radius:3px;
    color:cyan;
    font-size:small;
    margin-right:5px;
    padding:3px;
}
/*
#minibox {
    background-color:rgba(0.0, 0.0, 0.0, 0.5);
    width:200px;
    height:200px;
    padding:0px;
    margin:0px;
    position:absolute;
}*/
#minimap {
    background-color:rgba(0, 0, 0, 0);
    position:absolute;
    width:200px;
    height:200px;
    left:10px;
    bottom:50px;
    overflow:hidden;
}

/* OUTSIDE section */
#loader {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color:#222;
    z-index:999999;
    color:white;
}
#loadertop {
    margin-top:30%;
    margin-bottom:30px;
    text-align:center;
    vertical-align:bottom;
    font-size:x-large;
}
#loaderimage {
    text-align:center;
}
#jumpmapbox {
    position:absolute;

    width:500px;
    height:300px;
    top:auto;
    left:auto;
    z-index:1000;
    background-color:rgba(0,0,0,0.5);
    display:none;
}
