/* Webfonts */

 @font-face {font-family: 'Museo-700';src: url('webfonts/215447_0_0.eot');src: url('webfonts/215447_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/215447_0_0.woff') format('woff'),url('webfonts/215447_0_0.ttf') format('truetype');}
  
    
     @font-face {font-family: 'Museo-300';src: url('webfonts/215447_1_0.eot');src: url('webfonts/215447_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/215447_1_0.woff') format('woff'),url('webfonts/215447_1_0.ttf') format('truetype');}
      
        
         @font-face {font-family: 'MuseoSans-500';src: url('webfonts/215447_2_0.eot');src: url('webfonts/215447_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/215447_2_0.woff') format('woff'),url('webfonts/215447_2_0.ttf') format('truetype');}


* {
    margin:0px;
}
body {
    margin:0px;
    padding:0px;
    font-family:"Museo-300",sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color:#222;
    color:white;
    overflow:hidden;
    cursor:crosshair;
}
#main {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
}

/* TOP section */
#top {
    background-color:rgba(10,10,10,0.5);
    padding:5px 0px;
    width:990px;
    height:40px;
    position:absolute;
    left:10px;
    top:10px;
    overflow:hidden;
    padding:0px;
    margin:0px;
}
.resourcenumber {
    margin:4px 40px;
    float:left;
    font-size:17px;
    width:100px;
}
.resourcenumber img {
    height:32px;
    vertical-align:text-bottom;
}
.resourcenumber span {
    margin-left:10px;
}
#food {
    margin-left:100px;
}
#left {
    width:200px;
    position:absolute;
    left:10px;
    top:39px;
    overflow:hidden;
    padding:0px;
    margin:0px;
}
#lefttop {
    height:225px;
}
#shipvitals {
    margin-top:20px;
}
.vital {
    margin-top:10px;
}
.baroutside {
    border:2.5px solid rgba(142, 201, 230, 0.5);
    height:10px;
    width:90%;
    margin:0px auto;
}
.barinside {
    height:100%;
    width:95%;
    background-color:rgba(142, 201, 230, 0.5);
}
.barcaption {
    font-size:x-small;
    font-style:italic;
    margin-top:5px;
    margin-left:10px;
    padding-right:13px
}
.barcaption .value {
    float:right;
}
/**
#healthbaroutside {
    border-width:3px;
    height:25px;
    border-color:rgba(142, 201, 230, 0.75);
}
#healthbarcaption {
    font-size:small;
}
#jumpbaroutside {
    border-color:rgba(142, 201, 230, 0.75);
}
#jumpbar {
    background-color:rgba(142, 201, 230, 0.75);
}
#laserbaroutside {
    border-color:rgba(142, 201, 230, 0.75);
}
#laserbar {
    background-color:rgba(142, 201, 230, 0.75);
}
**/

/* MIDDLE section */
#middle {
    width:601px;
    background-color:#FFF;
    position:absolute;
    left:210px;
    top:39px;
    background-color:lightblue;
    overflow:hidden;
    opacity: 0.8;
    padding:0px;
    margin:0px;
}

/* RIGHT section */
#right {
    width:200px;
    height:400px;
    background-color:rgba(0,0,0,0);
    position:absolute;
    left:810px;
    top:39px;
    overflow:hidden;
    padding:0px;
    margin:0px;
}
#righttop {
    height:375px;
    overflow:auto;
}
#chatcontainer {
    background-color:rgba(10,10,10,0.5);
    width:99%;
    padding-left:5px;
    font-family:"Museo-300",sans-serif;
    position:absolute;
    bottom:0px;
    height:30%;
}
#chatmessages {
    height:90%;
    overflow-y:auto;
}
.chatmessage {
    margin:10px 0px;
    font-size:small;
}
.chatmessage span {
    font-size:x-small;
    font-style:italic;
	float:right;
	margin-right:5px;
}
.chatmessage div {
    font-size:medium;
}
#chatwrite {
    width:100%;
    margin-top:5px;
}
#chatcompose {
    width:80%;
}

/* BOTTOM section */
#bottom {
    background-color:rgba(10,10,10,0.5);
    clear:both;
    padding:0px;
    width:990px;
    background-color:rgba(0.0, 50.0, 0.0, 0.0);
    position:absolute;
    left:10px;
    bottom:0px;
    overflow:hidden;
    height:40px;
	z-index:1002;
}
.control {
    margin:0px 10px;
    float:right;
/*    border:thin solid white;
    border-radius:5px;
*/	margin-top:3px;
    padding:7px;
	cursor:pointer;
}
.control span {
    border:thin solid #8ec9e6;
    border-radius:3px;
    color:#8ec9e6;
    font-size:small;
    margin-right:5px;
    padding:3px;
}
.control.on {
	background-color:rgba(55,20,20,0.7);
}
/*
#minibox {
    background-color:rgba(0.0, 0.0, 0.0, 0.5);
    width:200px;
    height:200px;
    padding:0px;
    margin:0px;
    position:absolute;
}*/
#minimap {
    background-color:rgba(0, 0, 0, 0);
    position:absolute;
    width:200px;
    height:200px;
    left:10px;
    bottom:50px;
    overflow:hidden;
}

/* OUTSIDE section */
#loader {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color:#222;
    z-index:999999;
    color:white;
}
#loadertop {
    margin-top:30%;
    margin-bottom:30px;
    text-align:center;
    vertical-align:bottom;
    font-size:x-large;
}
#loaderimage {
    text-align:center;
}
#jumpmapbox {
    position:absolute;

    width:90%;
    height:90%;
    top:5%;
    left:5%;
    z-index:1000;
    background-color:rgba(0,0,0,0.8);
    display:none;
}
#jumpinfobox {
    position: absolute;
    z-index: 1001;
    background-color: rgba(25, 25, 25, 0.8);
    display: none;
}
#miningprogress {width:50%;position:absolute;left:25%;bottom:20%;display:none;}
#miningnumbers {width:100%;padding:0px auto;}
.miningvalue {font-size:x-small;text-align:center;float:left;margin:5px;}
.miningvalue div {font-size:large;}
#miningbarouter {clear:both;width:100%;height:30px;border:thick solid purple;}
#miningbarinner {height:30px;background-color:purple;width:50%;}
