* {
    margin:0px;
}
body {
    margin:0px;
    padding:0px;
	font-family:"arial bold",sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
	background-color:#222;
	color:white;
}
#main {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
}
#top {
    padding:5px 0px;
    width:990px;
    height:40px;
    position:absolute;
    left:10px;
    top:10px;
    overflow:hidden;
    padding:0px;
    margin:0px;
}
.resourcenumber {
	margin:0px 20px;
	float:left;
	font-size:25px;
	margin-top:5px;
}
#left {
    width:200px;
    background-color:rgba(0,0,0,0.0);
    position:absolute;
    left:10px;
    top:39px;
    overflow:hidden;
    padding:0px;
    margin:0px;
}
#lefttop {
    height:225px;
}
#middle {
    width:601px;
    background-color:#FFF;
    position:absolute;
    left:210px;
    top:39px;
    background-color:lightblue;
    overflow:hidden;
    opacity: 0.8;
    padding:0px;
    margin:0px;
}

#right {
    width:200px;
    height:400px;
    background-color:rgba(0,0,0,0);
    position:absolute;
    left:810px;
    top:39px;
    overflow:hidden;
    padding:0px;
    margin:0px;
}
#righttop {
    height:375px;
    overflow:auto;
}
#bottom {
    clear:both;
    padding:5px 0px;
    padding:0px;
    width:990px;
    background-color:rgba(0.0, 0.0, 0.0, 0.0);
    position:absolute;
    left:10px;
    top:439px;
    overflow:hidden;
}
#test {
    background-color:brown;
    width:90%;
    padding:5%;
}
#minibox {
    background-color:rgba(0.0, 0.0, 0.0, 0.0);
    width:200px;
    height:200px;
    padding:0px;
    margin:0px;
    position:absolute;
    //left:10px;
    opacity:0.5;
}
#minimap {
    background-color:rgba(0.0, 0.0, 0.0, 0.0);
    position:absolute;
    width:200px;
    height:200px;
    left:10px;
    bottom:10px;
    overflow:hidden;
}
#loader {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#222;
	z-index:999999;
	color:white;
}
#loadertop {
	margin-top:30%;
	margin-bottom:30px;
	text-align:center;
	vertical-align:bottom;
	font-size:x-large;
}
#loaderimage {
	text-align:center;
}
#jumpmapbox {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:rgba(0,0,0,0.5);
    display:none;
}
